/* Definindo a centralização da página */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Coloca os itens um embaixo do outro */
}

/* Estilos para o container da imagem */
#logo-container {
    margin-bottom: 30px; /* Espaço entre a imagem e a div do login */
    text-align: center; /* Centraliza a imagem */
}

/* Estilo para a imagem do logo */
#logo {
    width: 300px; /* Definindo um tamanho adequado para a imagem */
}

/* Estilizando a caixa do formulário */
#box1 {
    width: 300px;
    padding: 20px;
    border: 1px solid #d60a0a;
    border-radius: 10px;
    text-align: center;
}

/* Estilos para o título */
#p1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Estilos dos campos de input */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #f01212;
    border-radius: 5px;
}

/* Estilo para o botão */
input[type="button"] {
    width: 100%;
    padding: 12px; /* Preenchimento dentro do botão */
    font-size: 20px; /* Aumentando o tamanho da fonte do texto do botão */
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


input[type="button"]:hover {
    background-color: #462626;
}