* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('https://i.pinimg.com/236x/6e/ee/d4/6eeed4da8a937b4c434a542e2c9994f5.jpg');
    background-repeat: repeat;
    background-size: auto; /* ou 100px 100px para ajustar o tamanho do padrão */
    background-position: top left;
    background-size: 150px 150px;
}

/*
 * |==================|
 * |===== BANNER =====|
 * |==================|
*/

.banner {
    text-align: center;


    border: 2px solid black;
    background-color: rgba(250, 50, 10, 1);    
}

#bannerTitle{
    text-align: right;
    line-height: 50px;
    font-size: 50px;
    /* A fonte do banner deve ser de título */
    font-family:Verdana, sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px; /* ocupa a altura toda da tela */
}

.logo-container img {
    max-width: 80%;
    height: 100%;
}

/*
 * |================|
 * |===== MENU =====|
 * |================|
*/

.menu {
    background-color: rgba(250,50,10,0.4);
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.menu ul {
   list-style:none;
   text-align: center; 
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
}

/*
 * |====================|
 * |===== CONTEUDO =====|
 * |====================|
*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh; /* altura total do container */
    max-width: 90%;
    margin: 40px auto;
    padding: 0 40px;
}

.tall_button {
    width: 300px;
    height: 500px; /* altura dos botões */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
}

a{
    height: 100%;
    width: 100%;
}

.tall_button button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    border-radius: 12px;
    background-color: #FF033E;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.3s ease;
    line-height: 1.4;
}

.tall_button button:hover {
    background-color: rgb(241, 113, 113);
}

.img-centralizada {
    display: block;
    margin: 0 auto 40px auto;
    max-width: 40%;
    height: auto;
}

/*
 * |==================|
 * |===== RODAPE =====|
 * |==================|
*/

.rodape {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: darkred;
    color:rgb(255, 255, 255);
}





